[manim]
profile = shorts
#profile = widescreen
frame_rate = 60
background_color = #000000

[lattice]
nx = 9
ny = 9
mode_list = 1x1,1x2,2x1,2x2
mass_value = 1.0
onsite_k = 5.0
coupling_k = 3.0
mode_amplitude = 0.48

kick_i = 4
kick_j = 4
kick_amplitude = 0.55

span_x = 5.6
span_y = 5.6
lattice_shift_x = 0.42
lattice_shift_y = 0.15
lattice_shift_z = 0.0
support_z = -0.9
show_mesh = false
show_coupling_springs = true
show_vertical_springs = true
mesh_stroke = 2.6
spring_width = 0.06
spring_turns = 5
spring_stroke = 2.0
vertical_spring_width = 0.035
vertical_spring_turns = 6
vertical_spring_stroke = 1.8
border_stroke = 4.0
node_radius = 0.045
node_opacity = 0.9

title_scale = 0.56
formula_scale = 0.43
state_scale = 0.50
top_buff = 0.14

camera_phi = 68
camera_theta = -42
camera_zoom = 1.02
frame_center_x = 0.0
frame_center_y = 0.45
frame_center_z = -0.12

intro_time = 1.0
build_time = 1.8
mode_ramp_time = 0.45
mode_periods = 2.0
mode_fade_time = 0.35
prep_time = 0.8
kick_periods = 3.6
continuum_amplitude = 0.68
continuum_speed = 1.55
continuum_mass = 0.0
continuum_sigma = 0.42
continuum_height_scale = 1.55
continuum_grid = 48
continuum_time_samples = 120
continuum_resolution = 28
continuum_fade_time = 2.0
field_header_time = 0.8
continuum_hold_time = 0.6
continuum_runtime = 4.8
continuum_periods = 4.6
tail_wait = 1.2

[colors]
text = #FFFFFF
border = #FFFFFF
support = #DADADA
mesh = #79C7FF
mesh_dim = #4D667A
vertical_springs = #E5E5E5
highlight = #FFD166
kick = #FF7B72
node = #B7E0FF
continuum_fill = #65B9FF
continuum_stroke = #BCE5FF
